#############################
####cmake  ,generate by github#####
#############################
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
#############################
#########add for cmake#########
#############################
out

#############################
############VS && VS code##
#############################
.vs
#.vscode
